.SliderParent{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sliderImg{
    width: 72%;
    border-radius: 20px;
    top: 0;
    left: 0;
}
.sliderMain{
    /* filter: blur(2px); */
    transition: 0.5s;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-background-size: cover;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
}

.sliderPages{
    /* background-color:red; */
    width: 8%;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 5%;
    display: flex;
    z-index: 10;
    flex-direction: row;
    justify-content: space-between;
}
.circle{
    width: 17px;
    height: 17px;
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid white;
    /* border-radius: 20px; */
}
.circle:hover{
    cursor: pointer;
    /* border: none; */
}
.sliderleftPart{
    top: 0;
    left: 0;
}
.sliderrightPart{
    top: 0;
    right:0;
}
.buttons{
    /* z-index: 20; */
    /* position: absolute; */
    display: flex;
    width: 6%;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    background-color: transparent;
}
button:hover{
    cursor: pointer;
}
.sliderButton {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    background-color: rgb(255 255 255 / 78%);
}
.black{
    background-color: black!important;
    width: 30px;
    border: none;
}
.blackBlurEffct{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(61, 70, 77, 0.5);
}
.sliderContent{
    width: 40%;
    height: 54%;
    /* background-color: rgba(255, 255, 255, 0.548); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
    color: white;
}
.SliderMainImg{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    filter: blur(2px);
}
.SHOPNOW{
    width: 150px;
    height: 50px;
    border: 1px solid white;
    padding: 10px 20px;
    z-index: 10;
    display: flex;
    transition: 0.2s;
    font-size: 16px;
    flex-direction: row;
    color: white;
    /* text-decoration: underline; */
    align-items: center;
    justify-content: center;
}
.SHOPNOW:hover{
    background-color: white;
    color: black;
    font-size: 17px;
    cursor: pointer;
}
.SliderHeading{
    font-size: 50px;
    transition: 0.5s;
}
.SliderSpan{
    font-weight: bold;
    transition: 0.5s;
}